.idea/
*.iml
*.iws
out/

__pycache__/
venv/
.env
*.pyc


hf_token.txt
*.csv
.venv*
.python*

**/data/
**/EsperBERT*

*.safetensors

# Ignorar base de datos y archivos de configuración de Langflow
shuyi/ragConLangflow/langflow_data/

# Ignorar carpetas de entornos virtuales si tuvieras
.venv/
venv/

entorno*/

shuyi/ragConLangChain/Prueba1/Discurso_Ingenieria_Ontologica.pdf
/trabajo-conjunto/ollama_and_rag/resources/Discurso_Ingenieria_Ontologica.pdf

#Obsidian
.obsidian/
